.field {
    width: 40.2rem;
    height: 40.2rem;
    border: 1px solid black;
    position: relative;
    background: palegoldenrod;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
}
